In [15]:
import pandas as pd

In [16]:
companies = pd.read_csv("../../Datasets/Fortune 500/Fortune_500_Corporate_Headquarters_arcgis.csv")
#companies.head()
counties = pd.read_csv("../../Datasets/Housing Prices/County Datasets/All Homes County.csv")
ohcounties = counties[counties["State"] == "OH"]
ohcounties = ohcounties.rename(columns={"RegionName":"index"})
ohcounties = ohcounties.set_index("index")
ohcounties = ohcounties.drop(ohcounties.loc[:, "RegionID":"SizeRank"], axis=1)
ohcounties = ohcounties.drop(ohcounties.loc[:, "RegionType":"MunicipalCodeFIPS"], axis=1)
ohcounties # should be 88

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
index,,,,,,,,,,,,,,,,,,,,,
Franklin County,124134.0,124275.0,124536.0,124977.0,125448.0,125852.0,126341.0,126949.0,127518.0,128029.0,...,257069.0,260003.0,262981.0,266697.0,270863.0,275481.0,278800.0,281801.0,284115.0,286187.0
Cuyahoga County,120292.0,120632.0,120904.0,121418.0,122281.0,123068.0,123847.0,124179.0,124581.0,124968.0,...,183071.0,184163.0,185770.0,188340.0,190962.0,194720.0,196968.0,198809.0,199227.0,199777.0
Hamilton County,124526.0,124164.0,123721.0,124156.0,124923.0,126378.0,126859.0,127548.0,128054.0,128710.0,...,223346.0,225085.0,227369.0,230359.0,233345.0,236987.0,239982.0,241494.0,240672.0,239838.0
Summit County,114400.0,114723.0,114868.0,115272.0,115520.0,115897.0,116215.0,116559.0,116931.0,117255.0,...,181941.0,183787.0,185964.0,188250.0,190666.0,193401.0,196284.0,198679.0,200207.0,200731.0
Montgomery County,100142.0,99323.0,99446.0,99366.0,99933.0,100189.0,100457.0,100736.0,101099.0,101462.0,...,157148.0,157385.0,158514.0,160742.0,163956.0,166126.0,167442.0,168329.0,168960.0,169385.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Harrison County,57924.0,58183.0,58153.0,58606.0,58913.0,59471.0,59908.0,60622.0,61094.0,61186.0,...,110891.0,112306.0,113868.0,115506.0,115966.0,116590.0,117145.0,118549.0,119735.0,120956.0
Morgan County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121189.0,123125.0,125507.0,127981.0,128885.0,129508.0,130194.0,131658.0,133207.0,134919.0
Noble County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,156263.0,158745.0,161228.0,163837.0,164850.0,166153.0,167308.0,169669.0,171628.0,175469.0
Monroe County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128872.0,129966.0,131412.0,133240.0,133798.0,133984.0,133989.0,134317.0,134877.0,134839.0
Vinton County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108205.0,109469.0,110917.0,112508.0,113107.0,113979.0,114608.0,115967.0,116951.0,118336.0

In [17]:
ohcounties = ohcounties.transpose()
ohcounties = ohcounties.reset_index()
ohcounties = ohcounties.rename(columns={"index": "Date"})
#ohcounties.to_excel("Ohio counties dataset.xlsx")
ohcounties

index,Date,Franklin County,Cuyahoga County,Hamilton County,Summit County,Montgomery County,Lucas County,Butler County,Stark County,Lorain County,...,Carroll County,Henry County,Meigs County,Wyandot County,Paulding County,Harrison County,Morgan County,Noble County,Monroe County,Vinton County
0,2000-01-31,124134.0,120292.0,124526.0,114400.0,100142.0,78248.0,128418.0,100841.0,128786.0,...,NaN,83416.0,NaN,80048.0,74716.0,57924.0,NaN,NaN,NaN,NaN
1,2000-02-29,124275.0,120632.0,124164.0,114723.0,99323.0,78508.0,128730.0,101250.0,129113.0,...,NaN,83691.0,NaN,80174.0,75060.0,58183.0,NaN,NaN,NaN,NaN
2,2000-03-31,124536.0,120904.0,123721.0,114868.0,99446.0,78735.0,128981.0,101482.0,129502.0,...,NaN,83905.0,NaN,80316.0,75313.0,58153.0,NaN,NaN,NaN,NaN
3,2000-04-30,124977.0,121418.0,124156.0,115272.0,99366.0,79303.0,129587.0,102037.0,130226.0,...,NaN,84365.0,NaN,80756.0,75803.0,58606.0,NaN,NaN,NaN,NaN
4,2000-05-31,125448.0,122281.0,124923.0,115520.0,99933.0,79931.0,130423.0,102579.0,130889.0,...,NaN,84751.0,NaN,81111.0,76391.0,58913.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2022-04-30,275481.0,194720.0,236987.0,193401.0,166126.0,145586.0,261836.0,182347.0,210276.0,...,171375.0,165845.0,104247.0,151918.0,120106.0,116590.0,129508.0,166153.0,133984.0,113979.0
268,2022-05-31,278800.0,196968.0,239982.0,196284.0,167442.0,147358.0,266359.0,184000.0,212910.0,...,172201.0,166278.0,104781.0,152621.0,120633.0,117145.0,130194.0,167308.0,133989.0,114608.0
269,2022-06-30,281801.0,198809.0,241494.0,198679.0,168329.0,149035.0,269788.0,185498.0,215816.0,...,174286.0,167722.0,105994.0,154333.0,121799.0,118549.0,131658.0,169669.0,134317.0,115967.0
270,2022-07-31,284115.0,199227.0,240672.0,200207.0,168960.0,150666.0,271584.0,186357.0,218301.0,...,176458.0,169288.0,106726.0,156083.0,122882.0,119735.0,133207.0,171628.0,134877.0,116951.0
271,2022-08-31,286187.0,199777.0,239838.0,200731.0,169385.0,151522.0,272080.0,187070.0,219631.0,...,178705.0,171066.0,107721.0,158194.0,124238.0,120956.0,134919.0,175469.0,134839.0,118336.0

In [18]:
ohcounties = pd.read_excel("Ohio counties dataset.xlsx")
ohcounties

,Unnamed: 0,Date,Franklin,Cuyahoga,Hamilton,Summit,Montgomery,Lucas,Butler,Stark,...,Carroll,Henry,Meigs,Wyandot,Paulding,Harrison,Morgan,Noble,Monroe,Vinton
0,0,2000-01-31,124134,120292,124526.0,114400.0,100142.0,78248.0,128418,100841,...,NaN,83416.0,NaN,80048.0,74716.0,57924.0,NaN,NaN,NaN,NaN
1,1,2000-02-29,124275,120632,124164.0,114723.0,99323.0,78508.0,128730,101250,...,NaN,83691.0,NaN,80174.0,75060.0,58183.0,NaN,NaN,NaN,NaN
2,2,2000-03-31,124536,120904,123721.0,114868.0,99446.0,78735.0,128981,101482,...,NaN,83905.0,NaN,80316.0,75313.0,58153.0,NaN,NaN,NaN,NaN
3,3,2000-04-30,124977,121418,124156.0,115272.0,99366.0,79303.0,129587,102037,...,NaN,84365.0,NaN,80756.0,75803.0,58606.0,NaN,NaN,NaN,NaN
4,4,2000-05-31,125448,122281,124923.0,115520.0,99933.0,79931.0,130423,102579,...,NaN,84751.0,NaN,81111.0,76391.0,58913.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,267,2022-04-30,275481,194720,236987.0,193401.0,166126.0,145586.0,261836,182347,...,171375.0,165845.0,104247.0,151918.0,120106.0,116590.0,129508.0,166153.0,133984.0,113979.0
268,268,2022-05-31,278800,196968,239982.0,196284.0,167442.0,147358.0,266359,184000,...,172201.0,166278.0,104781.0,152621.0,120633.0,117145.0,130194.0,167308.0,133989.0,114608.0
269,269,2022-06-30,281801,198809,241494.0,198679.0,168329.0,149035.0,269788,185498,...,174286.0,167722.0,105994.0,154333.0,121799.0,118549.0,131658.0,169669.0,134317.0,115967.0
270,270,2022-07-31,284115,199227,240672.0,200207.0,168960.0,150666.0,271584,186357,...,176458.0,169288.0,106726.0,156083.0,122882.0,119735.0,133207.0,171628.0,134877.0,116951.0
271,271,2022-08-31,286187,199777,239838.0,200731.0,169385.0,151522.0,272080,187070,...,178705.0,171066.0,107721.0,158194.0,124238.0,120956.0,134919.0,175469.0,134839.0,118336.0