In [2]:
import pandas as pd
df = pd.read_csv("All Homes Seasonally adjusted.csv")
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,213337.0,...,801184.0,806462.0,811555.0,819849.0,834285.0,851774.0,866848.0,868507.0,868009.0,855016.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,177524.0,...,297690.0,300451.0,303056.0,304834.0,307439.0,309625.0,313133.0,315977.0,317999.0,318495.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,115168.0,...,255108.0,258177.0,261375.0,265008.0,269715.0,274806.0,279791.0,283639.0,286186.0,287739.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,144577.0,...,433252.0,439045.0,444846.0,453607.0,462953.0,474616.0,483590.0,490012.0,487572.0,480899.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,224357.0,...,809787.0,820971.0,841138.0,861177.0,884073.0,903218.0,916325.0,915794.0,904536.0,893508.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2832,828,3104,Alpine County,county,CA,CA,NaN,6,3,NaN,...,491744.0,497880.0,504093.0,509654.0,513368.0,516969.0,520528.0,526450.0,534955.0,543203.0
2833,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,NaN,...,392551.0,398209.0,405269.0,412284.0,414767.0,416227.0,418794.0,427286.0,435514.0,444371.0
2834,1933,3114,Mineral County,county,CO,CO,NaN,8,79,NaN,...,348863.0,351146.0,353074.0,354919.0,354471.0,356314.0,359729.0,366943.0,372776.0,378031.0
2835,1648,3129,Daggett County,county,UT,UT,NaN,49,9,NaN,...,283054.0,290086.0,295529.0,299770.0,299668.0,300498.0,301985.0,307347.0,312934.0,319411.0
2836,2518,3132,San Juan County,county,CO,CO,NaN,8,111,NaN,...,387792.0,392232.0,397936.0,403220.0,404984.0,406168.0,409003.0,418434.0,431745.0,445588.0

In [15]:
df = pd.read_csv("mid tier metro.csv")
df.sort_values("SizeRank")

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,102001,0,United States,country,NaN,108664.065693,108495.494517,108555.058209,108761.899002,109009.495097,...,322294.903229,327445.958954,332276.511803,338073.685771,344114.638771,350589.406051,354792.169033,357548.351856,357182.219270,356054.144014
1,394913,1,"New York, NY",msa,NY,188522.820365,186806.224260,186420.908986,186104.869066,185996.861284,...,575267.147045,577807.454168,582817.142771,588435.263286,598608.991473,607579.894997,615367.659459,619631.968470,621217.321721,620145.992454
2,753899,2,"Los Angeles, CA",msa,CA,186551.889182,185884.482490,185593.319105,185569.693864,185438.928720,...,861881.417343,874279.766711,887482.195789,901725.929478,930753.289617,950143.551902,955173.672577,932992.372762,929100.238917,897864.418850
3,394463,3,"Chicago, IL",msa,IL,147298.360904,147297.582443,146377.081265,147798.200258,148327.514646,...,290219.041432,291912.354888,294727.188283,298579.504671,303986.860603,308710.789295,313939.515379,314991.250548,314085.644474,312486.729429
4,394514,4,"Dallas, TX",msa,TX,113332.216364,113247.780650,113568.228432,114097.096793,114336.579284,...,344557.976761,351337.021321,360033.614446,370611.636209,376683.966527,391864.985419,399785.127705,401427.284760,397074.412395,391567.470647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,753929,923,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,108076.438964,114473.413432,115882.599836,116785.914301,116530.587398,116793.633063,116523.413189,119661.884114,120038.886343,120507.799624
895,394743,924,"Ketchikan, AK",msa,AK,NaN,NaN,NaN,NaN,NaN,...,341653.406429,NaN,357391.318000,355078.758507,356840.836186,358921.909775,361328.776041,368867.569410,369714.070027,371384.196209
896,753874,925,"Craig, CO",msa,CO,66456.052724,66718.433308,67101.601565,67602.866550,67071.984738,...,244906.281972,253475.912388,254633.774471,253409.009958,255094.248625,254644.956813,255872.448858,266349.042897,268062.669082,269442.290752
897,394767,926,"Lamesa, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,93254.090936,97562.502190,98486.245445,100283.840249,101361.147304,101654.213056,103604.259808,106083.778502,106534.706649,106767.725766
898,395188,927,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,80258.357363,NaN,87034.065979,88603.924612,88624.793447,88990.298691,89330.773120,92200.461791,93269.479342,93716.330951

In [12]:
df = pd.read_csv("All Homes Metro.csv")
df.StateName.value_counts()

TX    67
OH    46
GA    37
IN    36
NC    36
CA    34
PA    34
MI    31
FL    29
NY    26
IL    26
TN    26
MO    25
WI    23
OK    21
MN    21
AR    20
AL    20
OR    20
KY    20
WA    20
IA    19
KS    19
MS    17
LA    17
CO    17
NM    16
SC    15
VA    14
ID    13
NE    12
AZ    11
SD    10
NV     9
WY     9
UT     8
WV     8
ND     7
MT     7
MA     6
MD     6
NH     6
CT     5
HI     4
ME     4
AK     4
NJ     4
VT     4
DE     2
RI     1
Name: StateName, dtype: int64